<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Java后端WebSocket的Tomcat测试</title>
        <script type="text/javascript" src="res_js/jquery-3.7.0.min.js"></script>
        <script type="text/javascript" src="res_js/message-plus.js"></script>
    </head>
    <body>
        <div>
            <div style="font-size: 30px; margin-top: 20px;">v0.0.5-beta</div>
            <div style="font-size: 15px;">适用版本：v0.0.5-beta</div>
        </div>
        <ul>
            <li><a href="websocket-test" target="_blank">单发测试</a></li>
            <li><a href="group-test" target="_blank">群组测试</a></li>
        </ul>
    </body>
</html>
